{% extends 'base.html.twig' %}

{% block title %}Department{% endblock %}

{% block body %}
    <h1>Department</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ department.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ department.name }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('department_index') }}" class="btn btn-primary">back to list</a>
{% endblock %}
